.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.about-section {
  max-width: 50%;
  background-color: #ffffff12;
  padding: 20px;
  border-radius: 20px;
}
.about-section p {
  color: white;
  text-align: justify;
  font-size: 20px;
}
.about-section .about-title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(247, 245, 245, 0.421);
}
.about-section .key-features {
  text-align: center;
  margin: 3% 0%;
}
.key-card {
  display: flex;
  column-gap: 5%;
}
.key-card p {
  text-align: left;
  font-size: 16px;
  background-color: #fcfbf91d;
  padding: 10px;
  border-radius: 10px;
}
/* Responsive */

/* Mobile */

@media (max-width: 425px) {
  .about-section {
    max-width: 70%;
  }
  .about-section p {
    font-size: 14px;
  }
  .about-section .about-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .about-section .key-features {
    font-size: 16px;
  }
  .key-card p {
    font-size: 12px;
  }
}
