a {
  text-decoration: none;
  color: white;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.contact-card {
  max-width: 500px;
  background-color: #ffffff12;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

.contact-title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(247, 245, 245, 0.421);
}
.contact-logo {
  width: 40px;
}
.reach-me-card a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

/* Responsive */

/* Mobile */

@media (max-width: 425px) {
  .contact-card {
    max-width: 70%;
  }

  .contact-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .contact-logo {
    width: 30px;
  }
  .reach-me-card a {
    font-size: 14px;
  }
}
