.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.contact {
  max-width: 500px;
  background-color: #ffffff12;
  padding: 20px;
  color: white;
}

.contact-title {
  font-size: 30px;
  margin-bottom: 30px;
}
